<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="rgb_topic"               default="/xtion/rgb/image_rect_color"/>
  <arg name="depth_topic"             default="/xtion/depth_registered/image_raw"/>
  <arg name="depth_camera_info_topic" default="/xtion/depth_registered/camera_info"/>
  <arg name="rgb_camera_info_topic"   default="/xtion/rgb/camera_info"/>

  <arg name="scan_topic"  default="/depth_scan"/>
  <arg name="base_frame"  default="base_footprint"/>
  <arg name="odom_frame"  default="odom"/>
  <arg name="map_frame"   default="map"/>


  <node name="kill_head_nodes" pkg="tiago_slam" type="kill_head_nodes.py" output="screen"/>

  <node name="depthimage_to_laserscan"
        pkg="depthimage_to_laserscan"
        type="depthimage_to_laserscan"
        output="screen">
    <remap from="image"       to="$(arg depth_topic)"/>
    <remap from="camera_info" to="$(arg depth_camera_info_topic)"/>
    <remap from="scan"        to="$(arg scan_topic)"/>
    <param name="output_frame_id" value="$(arg base_frame)"/>
    <param name="scan_height"     value="10"/>
    <param name="range_min"       value="0.3"/>
    <param name="range_max"       value="8.0"/>
  </node>

  <node name="rgbd_odometry" pkg="rtabmap_ros" type="rgbd_odometry" output="screen">
    <param name="frame_id"      value="$(arg base_frame)"/>
    <param name="odom_frame_id" value="$(arg odom_frame)"/>

    <param name="subscribe_depth" value="true"/>
    <param name="subscribe_rgbd"  value="false"/>

    <remap from="rgb/image"       to="$(arg rgb_topic)"/>
    <remap from="depth/image"     to="$(arg depth_topic)"/>
    <remap from="rgb/camera_info" to="$(arg rgb_camera_info_topic)"/>
    <remap from="odom"            to="/rgbd_odometry/odom"/>

    <param name="subscribe_imu"           value="true"/>
    <remap from="imu"                     to="/base_imu"/>

    <param name="approx_sync"             value="true"/>
    <param name="queue_size"              value="50"/>
    <param name="approx_sync_max_interval" value="0.05"/>

    <param name="Reg/Force3DoF"   value="true"/>
    <param name="Vis/MinInliers"  value="12"/>
    <param name="Vis/InlierDistance" value="0.15"/>

    <param name="publish_tf" value="true"/>
    <param name="tf_delay"   value="0.01"/>
  </node>

  <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
    <param name="frame_id"     value="$(arg base_frame)"/>
    <param name="odom_frame_id" value="$(arg odom_frame)"/>
    <param name="map_frame_id"  value="$(arg map_frame)"/>

    <param name="subscribe_depth" value="true"/>
    <param name="subscribe_rgbd"  value="false"/>
    <param name="visual_odometry" value="false"/>
    <param name="subscribe_odom"  value="true"/>
    <param name="subscribe_scan"  value="true"/>

    <remap from="rgb/image"       to="$(arg rgb_topic)"/>
    <remap from="depth/image"     to="$(arg depth_topic)"/>
    <remap from="rgb/camera_info" to="$(arg rgb_camera_info_topic)"/>
    <remap from="odom"            to="/rgbd_odometry/odom"/>
    <remap from="scan"            to="$(arg scan_topic)"/>

    <param name="subscribe_imu"            value="true"/>
    <remap from="imu"                      to="/base_imu"/>

    <param name="approx_sync"              value="true"/>
    <param name="queue_size"               value="100"/>
    <param name="approx_sync_max_interval" value="0.05"/>

    <param name="RGBD/LinearUpdate"  value="0.2"/>
    <param name="RGBD/AngularUpdate" value="0.15"/>
    <param name="Reg/Force3DoF"      value="true"/>
    <param name="Reg/Strategy"       value="1"/>

    <param name="Icp/VoxelSize"                value="0.05"/>
    <param name="Icp/MaxCorrespondenceDistance" value="0.5"/>
    <param name="Icp/Iterations"               value="10"/>

    <param name="Grid/FromDepth" value="true"/>
    <param name="Grid/RangeMax"  value="8.0"/>
    <param name="Grid/CellSize"  value="0.05"/>
    <param name="Grid/3D"        value="false"/>

    <param name="publish_tf"        value="true"/>
    <param name="tf_delay"          value="0.05"/>
    <param name="tf_publisher_rate" value="30.0"/>
  </node>

  <node name="rtabmap_map_relay"
        pkg="topic_tools"
        type="relay"
        args="/rtabmap/grid_map /map"
        output="screen"/>

  <node name="slam_pose_publisher" pkg="tiago_slam" type="tf_to_pose.py" output="screen">
    <param name="from_frame"   value="$(arg map_frame)"/>
    <param name="to_frame"     value="$(arg base_frame)"/>
    <param name="output_topic" value="/slam_pose"/>
    <param name="rate"         value="10.0"/>
  </node>

</launch>
