<launch>
  <arg name="approach_cfg" default="$(find tiago_move_base_control)/config/door_approach.yaml"/>

  <include file="$(find tiago_move_base_control)/launch/tiago_move_base.launch"/>

  <include file="$(find tiago_move_base_control)/launch/move_base_control.launch"/>

  <node pkg="tiago_move_base_control" type="door_approach_goal_generator_node.py"
        name="door_approach_goal_generator_node" output="screen">
    <rosparam command="load" file="$(arg approach_cfg)"/>
  </node>
</launch>