<launch>
  <node pkg="tiago_move_base_control" type="move_base_goal_sender.py"
        name="move_base_goal_sender" output="screen">

    <param name="goal_topic" value="/tiago_move_base_control/goal"/>
    <param name="cancel_topic" value="/tiago_move_base_control/cancel"/>

    <param name="action_name" value="/tiago_move_base/move_base"/>
    <param name="default_frame" value="map"/>
    <param name="wait_for_server" value="30.0"/>
    <param name="stamp_now" value="true"/>
  </node>
</launch>