<?xml version="1.0"?>
<launch>
  <!-- Core sim configuration -->
  <arg name="world_file" default="$(find tiago_door_sim)/worlds/small_office_with_door.world"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="extra_gazebo_args" default=""/>

  <!-- TIAGo configuration -->
  <!-- robot: iron (no-arm), steel (gripper), titanium (hey5), tiago++ (dual-arm) -->
  <arg name="robot" default="tiago++"/>
  <!-- Single-arm config (iron / steel / titanium) -->
  <arg name="arm" default="$(eval arg('robot') not in ['iron'])"/>
  <arg name="end_effector" default="$(eval {'iron': 'false', 'steel': 'pal-gripper', 'titanium': 'pal-hey5'}.get(arg('robot'), 'pal-hey5'))"/>
  <arg name="ft_sensor" default="$(eval {'titanium': 'schunk-ft'}.get(arg('robot'), 'false'))"/>
  <!-- Tiago++ dual-arm config -->
  <arg name="end_effector_left"  default="pal-hey5"/>
  <arg name="end_effector_right" default="pal-hey5"/>
  <arg name="ft_sensor_left"     default="schunk-ft"/>
  <arg name="ft_sensor_right"    default="schunk-ft"/>
  <arg name="laser_model" default="sick-571"/>
  <arg name="camera_model" default="orbbec-astra"/>
  <arg name="base_type" default="pmb2"/>
  <arg name="public_sim" default="false"/>
  <arg name="tuck_arm" default="true"/>
  <arg name="recording" default="false"/>
  <arg name="use_moveit_camera" default="false"/>
  <arg name="use_dynamic_footprint" default="false"/>
  <arg name="advanced_grasping" default="false"/>
  <arg name="slow_control_period" default="false"/>
  <arg name="has_screen" default="false"/>
  <arg name="multi" default=""/>
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>

  <env name="LC_NUMERIC" value="C"/>

  <!-- Make Gazebo find custom door/tag models -->
  <env name="GAZEBO_MODEL_PATH"
       value="$(find tiago_door_sim)/models:$(optenv GAZEBO_MODEL_PATH)"/>

  <!-- Use sim time -->
  <param name="/use_sim_time" value="true"/>

  <!-- Start Gazebo (world) -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>

  <!-- Spawn TIAGo (single-arm: iron / steel / titanium) -->
  <group unless="$(eval arg('robot') == 'tiago++')">
    <include file="$(find tiago_gazebo)/launch/tiago_spawn.launch">
      <arg name="arm" value="$(arg arm)"/>
      <arg name="end_effector" value="$(arg end_effector)"/>
      <arg name="ft_sensor" value="$(arg ft_sensor)"/>
      <arg name="laser_model" value="$(arg laser_model)"/>
      <arg name="camera_model" value="$(arg camera_model)"/>
      <arg name="multi" value="$(arg multi)"/>
      <arg name="gzpose" value="$(arg gzpose)"/>
      <arg name="base_type" value="$(arg base_type)"/>
      <arg name="slow_control_period" value="$(arg slow_control_period)"/>
      <arg name="has_screen" value="$(arg has_screen)"/>
    </include>

    <!-- Bringup (controllers) -->
    <include file="$(find tiago_gazebo)/launch/simulation_tiago_bringup.launch">
      <arg name="arm" value="$(arg arm)"/>
      <arg name="end_effector" value="$(arg end_effector)"/>
      <arg name="ft_sensor" value="$(arg ft_sensor)"/>
      <arg name="laser_model" value="$(arg laser_model)"/>
      <arg name="camera_model" value="$(arg camera_model)"/>
      <arg name="public_sim" value="$(arg public_sim)"/>
      <arg name="use_moveit_camera" value="$(arg use_moveit_camera)"/>
      <arg name="use_dynamic_footprint" value="$(arg use_dynamic_footprint)"/>
      <arg name="base_type" value="$(arg base_type)"/>
      <arg name="advanced_grasping" value="$(arg advanced_grasping)" unless="$(arg public_sim)"/>
    </include>

    <!-- Tuck arm -->
    <group if="$(arg tuck_arm)">
      <node name="tuck_arm" pkg="tiago_gazebo" type="tuck_arm.py" output="screen"/>
    </group>
  </group>

  <!-- Spawn Tiago++ (dual-arm) -->
  <group if="$(eval arg('robot') == 'tiago++')">
    <include file="$(find tiago_dual_gazebo)/launch/tiago_dual_spawn.launch">
      <arg name="arm_left" value="true"/>
      <arg name="arm_right" value="true"/>
      <arg name="end_effector_left" value="$(arg end_effector_left)"/>
      <arg name="end_effector_right" value="$(arg end_effector_right)"/>
      <arg name="ft_sensor_left" value="$(arg ft_sensor_left)"/>
      <arg name="ft_sensor_right" value="$(arg ft_sensor_right)"/>
      <arg name="laser_model" value="$(arg laser_model)"/>
      <arg name="camera_model" value="$(arg camera_model)"/>
      <arg name="multi" value="$(arg multi)"/>
      <arg name="gzpose" value="$(arg gzpose)"/>
    </include>

    <!-- Bringup (controllers) -->
    <include file="$(find tiago_dual_gazebo)/launch/simulation_tiago_dual_bringup.launch">
      <arg name="arm_left" value="true"/>
      <arg name="arm_right" value="true"/>
      <arg name="end_effector_left" value="$(arg end_effector_left)"/>
      <arg name="end_effector_right" value="$(arg end_effector_right)"/>
      <arg name="ft_sensor_left" value="$(arg ft_sensor_left)"/>
      <arg name="ft_sensor_right" value="$(arg ft_sensor_right)"/>
      <arg name="laser_model" value="$(arg laser_model)"/>
      <arg name="camera_model" value="$(arg camera_model)"/>
      <arg name="public_sim" value="$(arg public_sim)"/>
      <arg name="use_moveit_camera" value="$(arg use_moveit_camera)"/>
    </include>

    <!-- Tuck both arms -->
    <group if="$(arg tuck_arm)">
      <!-- Ensure arm controller joints params are available for play_motion discovery -->
      <rosparam param="arm_right_controller/joints">
        [arm_right_1_joint, arm_right_2_joint, arm_right_3_joint, arm_right_4_joint,
         arm_right_5_joint, arm_right_6_joint, arm_right_7_joint]
      </rosparam>
      <rosparam param="arm_left_controller/joints">
        [arm_left_1_joint, arm_left_2_joint, arm_left_3_joint, arm_left_4_joint,
         arm_left_5_joint, arm_left_6_joint, arm_left_7_joint]
      </rosparam>
      <node name="tuck_arm" pkg="tiago_door_sim" type="tuck_arm.py" output="screen"/>
    </group>
  </group>

  <!-- Keep consistent with tiago_gazebo.launch -->
  <node name="image_proc" pkg="image_proc" type="image_proc" ns="xtion/rgb"/>
</launch>